@page
@using FirelyClient.Pages.Utils
@model IndexModel
@{
    ViewData["Title"] = "Patient List";
}

<div class="text-center">
    <h1 class="display-4">Patient List</h1>
</div>
<div>
    <ul class="list-group">
        @foreach (var patient in Model.Patients)
        {
            @*<li class="list-group-item"
                data-toggle="modal"
                data-target="#exampleModalScrollable"
                data-patient="@patient">@patient</li>*@
            <li class="list-group-item">
                <a href="Patient?id=@patient.Id">
                    @PatientUtils.GetPatientDescription(patient)
                </a>
            </li>
        }
    </ul>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (!Model.First.Equals(""))
            {
                <li class="page-item">

                    <a class="page-link" href="@Model.First">first&nbsp;&nbsp;</a>
                </li>
            }

            @if (!Model.Prev.Equals(""))
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.Prev">prev&nbsp;&nbsp;</a>
                </li>
            }

            @if (!Model.Next.Equals(""))
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.Next">next&nbsp;&nbsp;</a>
                </li>
            }

            @if (!Model.Last.Equals(""))
            {
                <li class="page-item">
                    <a class="page-link" href="@Model.Last">last&nbsp;&nbsp;</a>
                </li>
            }
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">$('#exampleModalScrollable').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('patient');
            var modal = $(this);
            modal.find('.modal-body').text(recipient);
        })</script>

</div>
&nbsp;&nbsp;